@font-face {
  font-family: 'lovedays';
  src: url('love-days-love-font/LoveDays-2v7Oe.ttf') format('truetype');
}
body {
  font-family: 'lovedays', sans-serif;
  background-color: rgb(138, 229, 255);
}

header {
  text-align: center;
}

header h1 {
  font-size: 50px; 
}

section {
  display: flex;
  flex-direction: column;
}

.image-container {
  float: right;
  margin-left: 20px; /* Adjust as needed */
}

.image-container img {
  width: 300px; /* Adjust the width as needed */
  height: auto;
}

#project-description,
#future-message,
#p5-canvas-container,
#additional-images {
  clear: both;
}

#additional-images {
  margin-top: 20px; /* Adjust the margin as needed */
}
#p5-canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Adjust the height as needed */
}
footer{
  text-align: center;
}


